
.sidebar {
  background: #E27D60;
  width: 450px;
  min-height: 200vh;
  z-index: 3;
}
.img {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
    display: block; /* Ensures the image is treated as a block element */
    margin-left: auto; /* Align to the left */
    margin-right: auto;
}
.maincontent {
    flex: 1;
    padding: 20px;
    background-color: black;
    background-size: cover; /* This property ensures that the background image covers the entire container */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
    min-height: 300vh; ;
    
    
}
.heading {
  top: -20px;
  position: relative;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 200px;
  color: white;
  text-align: left;
  
}
.sidebar-container {
  background-color: black;
    position: relative;
    display: flex; 
 
} 
.background-container {
    position: relative;
    height: 100vh;
  }
  .aboutme {
background:    #e27d60;
font-size: 50px;
border: 2px solid #e27d60;
font-family : 'Ubuntu Mono', monospace; 
  }
  .accomplishments {
line-height: 80px;
background:    #e27d60;
font-size: 50px;
border: 2px solid #e27d60;
font-family : 'Ubuntu Mono', monospace; 
}
.introtext {
  font-size: 50px; 
  color: white;
}

.instagram {
  margin-bottom: 10px; 
  margin-top: 10px;
  margin-right: 40px;
  padding: 40px;
  height: auto; 
  width: 80px;
}