.text {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 14, 14);
    margin-bottom: 10px;
    text-align: center;
    
}
.container {
    text-align: center;
    padding: 20px;
    
}
.content {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.aboutme-container {
    margin: 0;
    background-color: rgb(3, 167, 153); 
    height: 100vh;
}