
.App {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  margin: 0; /* Remove default margin to ensure the background covers the entire page */
  padding: 0; /* Remove default padding */ /* Adjust the path accordingly */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* Additional styling for the entire body if needed */
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #03738f; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  
}

.App-link {
  color: #61dafb;
}

.first-text {
  font-size: 80px;
  color: rgb(10, 3, 3); 
}

